.home{
    background: center / cover url(../../assets/home-bg.png);
    min-height: calc(100vh + var(--header-height));
    display: flex;
    align-items: center;
}
.home__container{
    width: 100%;
}

.home__content{
    max-width: 660px;
}

.home__subtitle,
.home__description{
    color: var(--title-color);
}

.home__subtitle{
    font-family: var(--second-font);
    font-size: var(--h1-font-size);
    font-weight: var(--weight-500);
}

.home__title{
    font-size: var(--biggest-font-size);
    font-weight: var(--weight-500);
    margin-block: 1.25rem;
}

.home__description{
    margin-bottom: 2.25rem;
}


.home__btns{
    display: flex;
    column-gap: 2rem;
}

.home__btn{
    background: transparent;
}
.home__btn:hover{
    background: var(--first-color);
    color: var(--title-color);
}

@media only screen and (max-width: 992px) {
    .home__btns {
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}

@media only screen and (max-width: 576px) {
    .home__btns {
        flex-wrap: wrap;
        gap: 1.25rem;
    }
}

